<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"> 

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}" >
    
    <link rel="icon" href="{{ url_for('static', filename='images/logo_car.png') }}" type="image/png">

    <!-- Pune iconitele la header-->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  
  <body>
      
    <header>
      <a href="#" class="logo">
        <i class='bx bxs-car'></i>APa
      </a>
      <div class="bx bx-menu" id="menu-icon"></div>
      
      <ul class="navbar">
        <li><a href="{{url_for('about')}}"><i class='bx bx-question-mark'></i>About</a></li>
        <li><a href="{{url_for('contact')}}"><i class='bx bxs-contact' ></i>Contact</a></li>

        {% if session.get('username') == 'admin' %}
          <li><a href="{{url_for('admin')}}"><i class='bx bx-cog' ></i>Admin Module</a></li>
        {% else %}
          <li><a href="{{url_for('security_and_policy')}}"><i class='bx bx-cog' ></i>Security and Policy</a></li>
        {% endif %}
        
        <li><a href="{{url_for('statistics')}}"><i class='bx bx-stats' ></i>Statistics</a></li>
      </ul>
      
      {% if logged_in %}
      <form action="{{ url_for('logout') }}" method="post">
          <input type="hidden" name="next" value="{{ url_for('about') }}">
          <button type="submit" class="btn logout">Log off</button>
      </form>
      {% else %}
        <a href="{{ url_for('login') }}" class="btn">Log in</a>
      {% endif %}

    </header>
  
    <div class="content">
        
            <div class="main">
            <h2>Welcome to Auto Park Smart Explorer</h2>
            <p>APa - Auto Park Smart Explorer is an online application for users who want to easily find detailed information about auto parks in Romania using public data provided by DATA.GOV via an API REST/GraphQL. Statistics as well as generated visualizations will be exportable in CSV, WebP, and SVG formats.</p>
            <h3>Features:</h3>
            <ul>
                <li>Visualize and compare data about auto parks</li>
                <li>Use public data from DATA.GOV via API REST/GraphQL</li>
                <li>Statistics and comparisons based on multiple criteria</li>
                <li>Generate at least three types of visualizations</li>
                <li>Export visualizations in CSV, WebP and SVG formats</li>
            </ul>
            <h3>Technologies Used:</h3>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>PHP/Python</li>
                <li>REST/GraphQL API</li>
                <li>Formats:CSV, WebP, and SVG</li>
            </ul>
            </div>
        
    </div>

    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
        
  </body>
</html>