<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="/static/styles/header.css" >
    <link rel="stylesheet" href="/static/styles/admin.css" >

    <link rel="icon" href="/static/images/logo_car.png" type="image/png">

    <!-- Pune iconitele la header-->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>APa - Auto Park Smart Exporer</title>
</head>
<body>
  <header>
    <a href="/" class="logo">
        <i class='bx bxs-car'></i> APa
    </a>
    <ul class="navbar" id="navbar">
        <!-- Link-uri statice, vor fi completate dinamic cu JavaScript -->
    </ul>
    <div id="auth-controls">
        <!-- Butonul de login/logout, va fi completat dinamic cu JavaScript -->
    </div>
</header>

        <div id="main">
            <div class="users-container">
              <h1>Welcome, Admin!</h1>
              <div class="table-container">
                <table id="user-table">
                  <thead>
                    
                    <tr>
                      <th>ID</th>
                      <th>Judet</th>
                      <th>Categorie Nationala</th>
                      <th>Categorie Comunitara</th>
                      <th>Marca</th>
                      <th>Descriere Comerciala</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                      <tr>
                        <td>1</td>
                        <td id="Alba1">Alba</td>
                        <td id="vehicul1">Autobuz</td>
                        <td>M2</td>
                        <td>Iveco</td>
                        <td>Daily</td>
                        <td>
                          <button class="btn btn-primary edit">Edit</button>
                          <button class="btn btn-danger delete">Delete</button>`
                         <span></span>`
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td id="Alba2">Alba</td>
                        <td id="vehicul2">Autobuz</td>
                        <td>M2</td>
                        <td>Iveco</td>
                        <td>Daily</td>
                        <td>
                          <button class="btn btn-primary edit">Edit</button>
                          <button class="btn btn-danger delete">Delete</button>`
                         <span></span>`
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td id="Alba3">Alba</td>
                        <td id="vehicul3">Autobuz</td>
                        <td>M2</td>
                        <td>Iveco</td>
                        <td>Daily</td>
                        <td>
                          <button class="btn btn-primary edit">Edit</button>
                          <button class="btn btn-danger delete">Delete</button>`
                         <span></span>`
                        </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td id="Alba4">Alba</td>
                        <td id="vehicul4">Autobuz</td>
                        <td>M2</td>
                        <td>Iveco</td>
                        <td>Daily</td>
                        <td>
                          <button class="btn btn-primary edit">Edit</button>
                          <button class="btn btn-danger delete">Delete</button>`
                         <span></span>`
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td id="Alba5">Alba</td>
                        <td id="vehicul5">Autobuz</td>
                        <td>M2</td>
                        <td>Iveco</td>
                        <td>Daily</td>
                        <td>
                          <button  class="btn btn-primary edit">Edit</button>
                          <button  class="btn btn-danger delete">Delete</button>`
                         <span></span>`
                        </td>
                      </tr>
                  </tbody>
                </table>

                <div class="table-control">
                <button id="previous" class="btn">Previous</button>
                <div class="buttons">
                <button id="btn1" class="btn active">1</button>
                <button id="btn2" class="btn">2</button>
                <button id="btn3" class="btn">3</button>
                </div>
                <button id="next" class="btn">Next</button>
                </div>
              </div>
            </div>
          </div>
          
          <script src="/static/scripts/main.js"></script>

          <script>
            // JavaScript pentru a verifica starea de autentificare și a actualiza DOM-ul
            document.addEventListener('DOMContentLoaded', function() {
                const navbar = document.getElementById('navbar');
                const authControls = document.getElementById('auth-controls');
        
                if (isLoggedIn()) {
                    // Utilizatorul este logat
                    navbar.innerHTML = `
                        <li><a href="/about"><i class='bx bx-question-mark'></i> About</a></li>
                        <li><a href="/contact"><i class='bx bxs-contact'></i> Contact</a></li>
                        ${isAdminUser() ? '<li><a href="/admin"><i class="bx bx-cog"></i> Admin Module</a></li>' : ''}
                        <li><a href="/statistics"><i class='bx bx-stats'></i> Statistics</a></li>
                    `;
                    authControls.innerHTML = `
                        <form action="/logout" method="post">
                            <input type="hidden" name="next" value="/statistics">
                            <button type="submit" class="btn logout">Log off</button>
                        </form>
                    `;
                } else {
                    // Utilizatorul nu este logat
                    navbar.innerHTML = `
                        <li><a href="/about"><i class='bx bx-question-mark'></i> About</a></li>
                        <li><a href="/contact"><i class='bx bxs-contact'></i> Contact</a></li>
                        <li><a href="/statistics"><i class='bx bx-stats'></i> Statistics</a></li>
                    `;
                    authControls.innerHTML = `
                        <a href="/login" class="btn">Log in</a>
                    `;
                }
            });
        
            function isLoggedIn() {
                // Funcție care verifică dacă utilizatorul este logat bazat pe cookie-uri sau altă metodă
                const cookies = document.cookie.split(';').map(cookie => cookie.trim());
                for (const cookie of cookies) {
                    if (cookie.startsWith('logged_in=')) {
                        return cookie.split('=')[1] === 'True';
                    }
                }
                return false;
            }
        
            function isAdminUser() {
                const cookies = document.cookie.split(';').map(cookie => cookie.trim());
                for (const cookie of cookies) {
                    if (cookie.startsWith('username=')) {
                        return cookie.split('=')[1] === 'admin';
                    }
                }
                return false;
            }
        
          </script>
</body>
</html>
