<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Contact</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/contact.css') }}" >

    <link rel="icon" href="{{ url_for('static', filename='images/logo_car.png') }}" type="image/png">

    <!-- Pune iconitele la header-->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-image: url('./static/images/back_ground.png')">
    <header>
        <a href="#" class="logo">
          <i class='bx bxs-car' ></i>APa
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
        
          <ul class="navbar">
            <li><a href="{{url_for('about')}}"><i class='bx bx-question-mark'></i>About</a></li>
            <li><a href="{{url_for('contact')}}"><i class='bx bxs-contact' ></i>Contact</a></li>

            {% if session.get('username') == 'admin' %}
              <li><a href="{{url_for('admin')}}"><i class='bx bx-cog' ></i>Admin Module</a></li>
            {% else %}
              <li><a href="{{url_for('security_and_policy')}}"><i class='bx bx-cog' ></i>Security and Policy</a></li>
            {% endif %}
            
            <li><a href="{{url_for('statistics')}}"><i class='bx bx-stats' ></i>Statistics</a></li>
        </ul>

        {% if logged_in %}
          <form action="{{ url_for('logout') }}" method="post">
            <input type="hidden" name="next" value="{{ url_for('contact') }}">
            <button type="submit" class="btn logout">Log off</button>
          </form>
        {% else %}
          <a href="{{ url_for('login') }}" class="btn">Log in <i class='bx bxs-user-detail' ></i></a>
        {% endif %}
    </header>

    <div class="content">
        <form method="post">
            <div class="box">
                <div class="img">
                    <img src="{{ url_for('static', filename='images/logo_car.png') }}" alt="Logo" style="width:29%; height:19%">
                </div>

                <h1>Contact Us</h1>

                <div class="container">
                    <label>Rosca Victor</label><br>
                    <a  href="https://github.com/Icedev-234/APa-Auto-Park-Smart-Explorer"> roscavictor2000@gmail.com </a><br><br>
                    
                    <label>Rotaru Alex</label><br>
                    <a href="https://github.com/Icedev-234/APa-Auto-Park-Smart-Explorer"> Alexrotari740@gmail.com </a><br><br>
                </div>
            </div>
        </form><br><br>
    </div>
    
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>t>
</body>

</html>