<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Change your password</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"> 
        
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/security_and_policy.css') }}" >

        <link rel="icon" href="{{ url_for('static', filename='images/logo_car.png') }}" type="image/png">
        

        <!-- Pune iconitele la header-->
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
      
      <header>
        <a href="#" class="logo">
          <i class='bx bxs-car' ></i>APa
        </a>
        <div class="bx bx-menu" id="menu-icon"></div>
        
          <ul class="navbar">
            <li><a href="{{url_for('about')}}"><i class='bx bx-question-mark'></i>About</a></li>
            <li><a href="{{url_for('contact')}}"><i class='bx bxs-contact' ></i>Contact</a></li>
            <li><a href="{{url_for('security_and_policy')}}"><i class='bx bx-cog' ></i>Security and Policy</a></li>
            <li><a href="{{url_for('statistics')}}"><i class='bx bx-stats' ></i>Statistics</a></li>
        </ul>

        {% if logged_in %}
          <form action="{{ url_for('logout') }}" method="post">
            <input type="hidden" name="next" value="{{ url_for('security_and_policy') }}">
            <button type="submit" class="btn logout">Log off</button>
          </form>
        {% else %}
          <a href="{{ url_for('login') }}" class="btn">Log in <i class='bx bxs-user-detail' ></i></a>
        {% endif %}
      </header>
      
          <div class="content">
            <form method="post" action="/security_and_policy">
              <div class="box">
                  <div class="img">
                      <img src="{{ url_for('static', filename='images/logo_car.png') }}" alt="Car Icon" style="width:33%; height:25%">
                  </div>
      
                  <div class="container2">
                    <label for="current_password">Change your password</label><br>
                  </div>
                  
      
                  <div class="container">
                      <label for="current_password">Current Password</label><br>
                      <input type="text" id="current_password" placeholder="Enter Current Password" name="current_password"><br><br>
      
                      <label for="new_password">New Password</label><br>
                      <input type="text" id="new_password" placeholder="Enter New Password" name="new_password"><br><br>

                      <label for="confirm_password">Confirm Password</label><br>
                      <input type="text" id="confirm_password" placeholder="Confirm New Password" name="confirm_password"><br><br>
    
      
                      <button type="submit">Save</button>
                  </div>
              </div>
            </form>
          </div>

          <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>

    </body>
</html>
