<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">   
  
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/statistics.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}" >

    <link rel="icon" href="{{ url_for('static', filename='images/logo_car.png') }}" type="image/png">

    <title>APa - Auto Park Smart Exporer</title>
  </head>
  
  <body>
    <header>
      <a href="#" class="logo">
        <i class='bx bxs-car' ></i>APa
      </a>
      <div class="bx bx-menu" id="menu-icon"></div>
      
      <ul class="navbar">
        <li><a href="{{url_for('about')}}"><i class='bx bx-question-mark'></i>About</a></li>
        <li><a href="{{url_for('contact')}}"><i class='bx bxs-contact' ></i>Contact</a></li>
        <li><a href="{{url_for('security_and_policy')}}"><i class='bx bx-cog' ></i>Security and Policy</a></li>
        <li><a href="{{url_for('statistics')}}"><i class='bx bx-stats' ></i>Statistics</a></li>
    </ul>
      <a href="{{url_for('login')}}" class="btn">
        Log in <i class='bx bxs-user-detail' ></i>
      </a>
      </header>


    <div class="statistics-container">
      <div class="classroom-box">
        
        <label class="classroom-label">Tip Vehicul</label>
        <div class="select-box">
          <select class="select-classroom select-4">
            <option value="autobuz">Autobuz</option>
            <option value="autoturism">Autoturism</option>
              <option value="autovehicul">Autovehicul</option>
                <option value="remorca">Remorca</option>
                <option value="semiremorca">Semiremorca</option>
                <option value="autospeciala">Autospeciala</option>
                <option value="autoutilitara">Autoutilitara</option>
                <option value="tractor">Tractor</option>
                <option value="automorcher">Automorcher</option>
                <option value="autoturism_mixt">Autoturism Mixt</option>
          </select>
         </div>
        <label class="classroom-label">Judet</label>
        <div class="select-box">
         <select class="select-classroom select-2">
          <option value="Iasi">Iasi</option>
          <option value="Arad">Arad</option>
          <option value="Bistrita">Bistrita</option>
          <option value="Botosani">Botosani</option>
          <option value="Bacau">Bacau</option>
          <option value="Bihor">Bihor</option>
          <option value="Bucuresti">Bucuresti</option>
          <option value="Buzau">Buzau</option>
          <option value="Calarasi">Calarasi</option>
          <option value="Caras_Severin">Caras Severin</option>
          <option value="Brasov">Brasov</option>
          <option value="Cluj">Cluj</option>
          <option value="Dolj">Dolj</option>
          <option value="Galati">Galati</option>
          <option value="Giurgiu">Giurgiu</option>
         </select>
        </div>
        <label class="classroom-label">Categorie</label>
        <div class="select-box">
         <select class="select-classroom select-3">
          <option value="M1">M1</option>
          <option value="M2">M2</option>
          <option value="M3">M3</option>
          <option value="N1">N1</option>
          <option value="N2">N2</option>
          <option value="N3">N3</option>
          <option value="N2G">N2G</option>
          <option value="O1">O1</option>
          <option value="O2">O2</option>
          <option value="O3">O3</option>
          <option value="O4">O4</option>
          <option value="L1e">L1e</option>
          <option value="L3e">L3e</option>
          <option value="T1">T1</option>
          <option value="T2">T2</option>
          <option value="T3">T3</option>
          <option value="T4">T4</option>
          <option value="T5">T5</option>
         </select>
        </div>
        <div class="select-box">
          <label class="label-2">Data Visualization</label>
          <select class="select-2">
            <option value="map">Map</option>
            <option value="table">Table</option>
            <option value="line">Line</option>
          </select>
        </div>
      </div>
      <div class="div-chart" id="chart-div">
        <canvas id="chart"> </canvas>
      </div>
      <div class="chart-options">
        <div class="select-box">
          <label id="label-1"><i class='bx bx-time-five'></i>Ani</label>
          <select id="select-1">
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
          </select>
        </div>
        
        <button class="results-button">Generate</button>
        <div class="export-box">
          <label id="export-label"><i class='bx bx-export'></i>Export Options</label>
          <select id="export-select">
            <option value="CSV">CSV</option>
            <option value="WebP">WEBP</option>
            <option value="SVG">SVG</option>
          </select>
        </div>
        <button class="export-button" id="export-button">Export</button>
      </div>
    </div>


    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>


  </body>


  
</html>
